.projectItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: background 0.3s ease;
    
    &:hover {
      background: linear-gradient(to right, #5651e5, #709dff);
    }
  
    &:hover .backgroundImg {
      opacity: 0.1;
    }
  }
  
  .backgroundImg {
    border-radius: 0.5rem;
    transition: opacity 0.3s ease;
  }
  
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    
    .title {
      font-size: 1.25rem;
      color: white;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }
  
    .tech {
      padding: 0.5rem 0;
      color: white;
      font-weight: 300;
    }
  
    .moreInfo {
      padding: 0.75rem;
      border-radius: 0.5rem;
      background: white;
      color: #4a4a4a;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background: #f0f0f0;
      }
    }
  }
  
  .projectItem:hover .info {
    opacity: 1;
  }
  