.container {
    width: 100%;
    padding: 2rem;
  }
  
  .content {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .sectionTitle {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #5651e5;
  }
  
  .heading {
    padding: 1rem 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .card {
    padding: 1.5rem;
    background-color: #adbec073;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;
    
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .cardContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  